{% extends "bags/base.html" %}

{% block title %}
Сумка {{baglpu.barcode}} |
{% endblock title%}

{% block header %}
Сумка {{baglpu.barcode}}
{% endblock header %}

{% block main %}
<div class="container">
    <div class="uk-grid-large" uk-grid>
        <div class="uk-width-auto">
            <div>
            {% if perms.bags.change_baglpu %}
                <a title="Редактировать" href="{{ object.get_edit_url }}" class="uk-icon-button uk-icon uk-margin-small-right button-nav" uk-icon="pencil"></a>
            {% endif %}
                <a title="Печать" target="_blank" href="{{ object.get_barcode_url }}" class="uk-icon-button uk-icon button-secondary" uk-icon="print"></a>
            </div>
        </div>
        <div class="uk-width-expand uk-first-column">
            <h2 class="uk-heading-divider">{{object}}</h2>
        </div>
    </div>
</div>
<div class="uk-grid-large uk-child-width-1-2 uk-margin-medium-top" uk-grid>
    <div>
        <div class="uk-card-default uk-card-body">
            <table class="uk-table uk-table-divider uk-table-middle">
                <tbody>
                <tr>
                    <th>Штрих-код сумки</th>
                    <td>{{baglpu.barcode}}</td>
                </tr>
                <tr>
                    <th>Привязана к ЛПУ</th>
                    <td><a class="uk-link-reset" href="{{baglpu.lpu.get_absolute_url}}">{{baglpu.lpu}}</a></td>
                </tr>
                <tr>
                    <th>Кем создана</th>
                    {% if baglpu.creator == None %}
                    <td>Нет данных</td>
                    {% else %}
                    <td>{{baglpu.creator.first_name}} {{baglpu.creator.last_name}}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Когда создана</th>
                    {% if baglpu.create_date == None %}
                    <td>Нет данных</td>
                    {% else %}
                    <td>{{baglpu.create_date|date:'d.m.Y H:i'}}</td>
                    {% endif %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% if perms.bags.view_scannedbag %}
    <div>
    <div class="uk-card-default uk-card-body">
        <table class="uk-table uk-table-divider uk-table-middle">
            <thead class="uk-background-secondary">
            <tr>
                <th scope="col">Время сканирования <small>(10 последних)</small></th>
                {% if perms.bags.delete_scannedbag %}
                <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for scanned in baglpu.scannedbag_set.all|slice:":10" %}
            <tr id="row_{{ forloop.counter }}">
                <td>{{scanned.scan_date|date:'d.m.Y H:i'}}</td>
                {% if perms.bags.delete_scannedbag %}
                <td>
                     <a class="uk-icon-button uk-icon" uk-icon="icon: trash" title="Удалить" href="#modal_{{forloop.counter}}" uk-toggle></a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    {% endif %}
</div>
<div class="uk-content uk-margin-large-top">
        <table class="uk-table uk-table-divider uk-table-middle">
            <thead class="uk-background-secondary">
            <tr>
                <th scope="col">Время изменения</th>
                <th scope="col">Кто изменил</th>
                <th scope="col">Предыдущий штрих-код</th>
                <th scope="col">Предыдущее ЛПУ</th>
            </tr>
            <tbody id="list">
            {% for event in object.baglpulog_set.all %}

            <tr>
                <td>{{event.event.timestamp|date:'d.m.Y H:i'}}</td>
                {% with log=event.event.get_data %}
                <td>{{log.author}}</td>
                <td>{{log.barcode}}</td>
                <td>{{log.lpu}}</td>
                {% endwith %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
</div>

{% if perms.mainapp.delete_scannedbag %}
{% for scanned in baglpu.scannedbag_set.all|slice:":10" %}
<div id="modal_{{forloop.counter}}" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Удаление</h2>
        <p>Вы уверены, что хотите удалить <b>{{scanned}}?</b></p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Отмена</button>
            <a href="{{ scanned.get_delete_url }}" class="uk-button uk-button-danger delete-button"
               type="button">Удалить</a>
        </p>
    </div>
</div>
{% endfor %}
{% endif %}
{% csrf_token %}
{% endblock main %}
