{% extends "bags/base_create_form.html" %}

{% block title %}
Выдать контейнер ЛПУ {{ lpu }} |
{% endblock title%}

{% block form_title %}
Выдать контейнер ЛПУ {{ lpu }}
{% endblock form_title %}


{% block scripts %}
<script>
let needAutogen = document.querySelector('#id_autogenerate_barcode');
let barcodeInput = document.querySelector('#id_barcode');
let barLabel = barcodeInput.parentElement.previousElementSibling;
barLabel.hidden = true;
barcodeInput.hidden = true;
needAutogen.addEventListener('change', function(){
if(needAutogen.checked){
    barLabel.hidden = true;
    barcodeInput.hidden = true;
} else {
    barLabel.hidden = false;
    barcodeInput.hidden = false;
    setCaretPosition('id_barcode', 0);
}
});
</script>
<script>
document.addEventListener('keydown', function(event){
if(event.code == 'Tab'){
    event.preventDefault();
}
});
</script>
{% endblock scripts %}