{% extends "bags/base.html" %}

{% block title %}
Список сумок | 
{% endblock title%}

{% block main %}
<table class="uk-table uk-table-divider uk-table-middle">
    <thead class="uk-background-secondary">
    <tr>
        <th class="uk-table-shrink">Штрих-код</th>
        <th class="uk-table-expand">ЛПУ</th>
        {% if perms.bags.change_baglpu %}
        <th class="uk-table-shrink">Редактировать</th>
        {% endif %}
        <th class="uk-table-shrink">Распечатать штрих-код</th>
    </tr>
    </thead>
    <tbody id="list">
{% for bag_lpu in object_list %}
<tr>
    <td><a title="Подробно" href="{{ bag_lpu.get_absolute_url }}" class="uk-link-reset">{{bag_lpu.barcode}}</a></td>
    <td><a class="uk-link-reset" href="{{bag_lpu.lpu.get_absolute_url}}">{{bag_lpu.lpu}}</a></td>
    {% if perms.bags.change_baglpu %}
    <td><a title="Редактировать" href="{{ bag_lpu.get_edit_url }}" class="uk-icon-button uk-icon button-nav" uk-icon="pencil"></a></td>
    {% endif %}
    <td><a title="Печать" target="_blank" href="{{ bag_lpu.get_barcode_url }}" class="uk-icon-button uk-icon button-secondary" uk-icon="print"></a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock main %}
