{% extends "bags/base.html" %}

{% block title %}
ЛПУ {{lpu.code}} |
{% endblock title%}

{% block header %}
ЛПУ {{lpu.code}}
{% endblock header %}


{% block main %}
<div class="container">
    <div class="uk-grid-large" uk-grid>
        <div class="uk-width-auto">
            <div>
                {% if perms.bags.add_baglpu %}
                <a title="Добавить контейнер" href="{{ object.get_add_bag_url }}"
                   class="uk-icon-button uk-icon uk-margin-small-right button-primary" uk-icon="plus"></a>
                {% endif %}
            </div>
        </div>
        <div class="uk-width-expand uk-first-column">
            <h2 class="uk-heading-divider">{{object}}</h2>
        </div>
    </div>
</div>
<div class="uk-grid-large uk-child-width-1-2 uk-margin-medium-top" uk-grid>
    <div>
        <div class="uk-card-default uk-card-body">
            <table class="uk-table uk-table-divider uk-table-middle">
                <tbody>
                <tr>
                    <th>Код ЛПУ</th>
                    <td>{{object.code}}</td>
                </tr>
                <tr>
                    <th>Название ЛПУ</th>
                    <td>{{object.name}}</td>
                </tr>
                <tr>
                    <th>Активен</th>
                    <td>
                        {% if lpu.is_active %}
                        Да
                        {% else %}
                        Нет
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% if perms.bags.view_baglpu %}
    <div>
        <div class="uk-card-default uk-card-body">
            <table class="uk-table uk-table-divider uk-table-middle">
                <thead class="uk-background-secondary">
                <tr>
                    <th scope="col">Контейнеры <span class="uk-label button-secondary">{{ object.bag.all|length }}</span></th>
                </tr>
                </thead>
                <tbody>
                {% for bag_lpu in object.bag.all %}
                <tr>
                    <td><a class="uk-link-reset" href="{{bag_lpu.get_absolute_url}}">{{bag_lpu.barcode}}</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td>Нет контейнеров. {% if perms.bags.add_baglpu %}
                        <a href="{{ object.get_add_bag_url }}">Выдать новый?</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
</div>

{% endblock main %}
