{% extends "bags/base.html" %}

{% block title %}
Список ЛПУ | 
{% endblock title%}

{% block main %}
<table class="uk-table uk-table-divider uk-table-middle">
    <thead class="uk-background-secondary">
    <tr>
        <th scope="col">Код ЛПУ</th>
        <th scope="col">Название ЛПУ</th>
        <th scope="col">Активно</th>
    </tr>
    </thead>
    <tbody>
{% for lpu in object_list %}
<tr>
    <td><a class="uk-link-reset" href="{{lpu.get_absolute_url}}">{{lpu.code}}</a></td>
    <td><a class="uk-link-reset" href="{{lpu.get_absolute_url}}">{{lpu.name}}</a></td>
{% if lpu.is_active %}
    <td>Да</td>
{% else %}
    <td>Нет</td>
{% endif %}
</tr>
{% endfor %}
</tbody>
</table>
{% endblock main %}

