{% extends "bags/base.html" %}

{% block title %}
Отчет по сумкам | 
{% endblock title%}


{% block header %}
Отчет по сумкам
{% endblock %}


{% block main %}
<div class="uk-container-expand">
    <div class="uk-flex uk-flex-center">
        <form method="post">{% csrf_token %}
            <div class="uk-grid-small uk-flex-middle uk-grid" uk-grid>
                {% for field in form %}
                {% if field.field.widget.input_type == 'checkbox' %}
                <div class="uk-margin-top uk-margin-bottom">
                    <label>{{ field }} {{ field.label }}</label>
                </div>
                {% elif field.field.widget.input_type == 'select' %}
                <div class="uk-margin-top uk-margin-bottom">
                    <label class="uk-form-label" for="id_{{ field.name }}">{{ field.label }}</label>
                    <div class="uk-form-controls">
                        {{ field }}
                    </div>
                </div>
                {% else %}
                <div class="uk-margin-top uk-margin-bottom">
                    <label class="uk-form-label" for="id_{{ field.name }}">{{ field.label }}</label>
                    <div class="uk-form-controls">
                        {{ field }}
                    </div>
                    {% for error in field.errors %}
                    <span class="helper-text red-text">{{ error|escape }}</span>
                    {% endfor %}
                </div>
                {% endif %}
                {% endfor %}
                <div class="uk-margin-top">
                    <button class="uk-icon-button uk-icon button-primary" type="submit" uk-icon="icon: check">
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% if report %}
<h4 class="mb-5">С {{start_date|date:'d.m.Y'}} по {{end_date|date:'d.m.Y'}}</h4>

{% for lpu in report %}
<table class="table mb-5 shadow">
    <thead>
    <tr>
        <th colspan="3"><h4>{{lpu.lpu}}</h4></th>
    </tr>
    </thead>
    <thead class="thead-dark">
    <tr>
        <th scope="col">Штрих-код</th>
        <th scope="col" colspan="2">Сумма сканирований</th>
    </tr>
    </thead>
<tbody id="list">
{% for barcode in lpu.data %}
<tr class="table-active">
    <td><h5>{{barcode.barcode}}</h5></td>
    <td><h5>{{barcode.detail.count}}</h5></td>
    <td>
        <button class="btn btn-sm float-right" data-toggle="collapse" data-target="#coll{{barcode.barcode}}"
                aria-expanded="false" aria-controls="coll{{barcode.barcode}}">Детализация
        </button>
    </td>
</tr>
    <tbody class="collapse" id="coll{{barcode.barcode}}">
    {% for scanned in barcode.detail.scanned_bags %}
    <tr>
        <td colspan="2"></td>
        <td><p class="float-right">{{scanned.scan_date|date:'d.m.Y H:i'}}</p></td>
    </tr>
    {% endfor %}
    </tbody>
    {% endfor %}
    </tbody>
</table>
{% endfor %}

{% else %}
<h2 class="text-center">Нет данных</h2>
{% endif %}

{% endblock main %}