{% extends "bags/base.html" %}

{% block title %}
Сканировать сумки |
{% endblock title%}


{% block header %}
Регистрация сумок
{% endblock header %}


{% block main %}
<div class="uk-grid-large uk-child-width-1-2 uk-margin-medium-top" uk-grid>
    <div>
        <div class="uk-card-default uk-card-body">
            <h5 class="uk-card-title">Просканируйте контейнер</h5>
            <div class="uk-flex">
                <form id="scan-form" class="uk-grid-small" method="post" uk-grid>{% csrf_token %}
                    {% for field in form.visible_fields %}
                    <div class="uk-margin-top uk-margin-bottom">
                        <div class="uk-form-controls">
                            {{ field }}
                        </div>
                        {% for error in field.errors %}
                        <span class="input-error">{{ error|escape }}</span>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <div class="uk-margin">
                        <button class="uk-button uk-button-primary">Сканировать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card-default uk-card-body" id="scanned-table">
            <h5 class="uk-card-title">Последние отсканированные контейнеры</h5>
            <table class="uk-table uk-table-divider uk-table-middle">
                <tbody>
                {% for scanned in object_list %}
                <tr>
                    <td><a class="uk-link-reset" href="{{scanned.lpu.get_absolute_url}}">{{scanned.barcode}}</a></td>
                    <td>{{scanned.scan_date|date:'d.m H:i'}}</td>
                    <td><a class="uk-link-reset" href="{{scanned.lpu.lpu.get_absolute_url}}">{{scanned.lpu.lpu}}</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock main %}

{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', setCaretPosition('id_barcode', 0));

document.addEventListener('keydown', function(event){
    sendFormByTab(event, 'scan-form', 'id_barcode')
});

function reload(){
    loadPageSection("#scanned-table");
};

setInterval(reload, 6000);


</script>
{% endblock scripts %}