{% extends "bags/base.html" %}

{% block title %}
Список отсканированных сумок | 
{% endblock title%}


{% block main %}
<table id="scan-table" class="uk-table uk-table-divider uk-table-middle">
    <thead class="uk-background-secondary">
    <tr>
        <th class="uk-table-shrink">Штрих-код</th>
        <th class="uk-width-medium">Время</th>
        <th class="uk-table-expand">ЛПУ</th>
        <th class="uk-width-medium">Кто сканировал</th>
    </tr>
    </thead>
    <tbody>
{% for scanned in object_list %}
<tr>
    <td><a class="uk-link-reset" href="{{scanned.lpu.get_absolute_url}}">{{scanned.barcode}}</a></td>
    <td>{{scanned.scan_date}}</td>
    <td><a class="uk-link-reset" href="{{scanned.lpu.lpu.get_absolute_url}}">{{scanned.lpu.lpu}}</a></td>
    {% if scanned.creator == None %}
    <td>Неизвестно</td>
    {% else %}
    <td>{{scanned.creator.first_name}} {{scanned.creator.last_name}}</td>
    {% endif %}
</tr>
{% endfor %}
</tbody>
</table>
{% endblock main %}

{% block scripts %}
<script>
    function reload(){
    loadPageSection("#scan-table");
};
setInterval(reload, 6000);
</script>
{% endblock scripts %}