<div class="uk-container-expand">
    <div class="uk-margin-medium-top">
        <ul class="uk-flex-center uk-subnav uk-subnav-pill uk-subnav-divider">
            {% if perms.bags.add_scannedbag %}
            <li class="{% if '/bags/bag_reg/add/' in request.get_full_path %}uk-active{% endif %}">
                <a href="{% url 'scan_bag' %}">Сканировать контейнеры</a>
            </li>
            {% endif %}
            {% if perms.bags.view_scannedbag %}
            <li class="{% if request.get_full_path == '/bags/bag_reg/' %}uk-active{% endif %}">
                <a href="{% url 'scanbag_list' %}">Отсканированные контейнеры</a>
            </li>
            {% endif %}
            {% if perms.bags.view_baglpu %}
            <li class="{% if '/bags/bag_lpu/' == request.get_full_path %}uk-active{% endif %}">
                <a href="{% url 'bag_lpu_list' %}">Контейнеры</a>
            </li>
            {% endif %}
            {% if perms.bags.add_baglpu %}
            <li class="{% if '/bag_lpu/add' in request.get_full_path %}uk-active{% endif %}">
                <a href="{% url 'add_baglpu' %}">Выдать контейнер ЛПУ</a>
            </li>
            {% endif %}
            {% if perms.bags.view_lpu %}
            <li class="{% if '/bags/lpu/' in request.get_full_path %}uk-active{% endif %}">
                <a href="{% url 'lpu_bags_list' %}">ЛПУ</a>
            </li>
            {% endif %}
            {% if perms.bags.view_permissionreport %}
            <li class="{% if '/bags/report/' in request.get_full_path %}uk-active{% endif %}">
                <a href="{% url 'bags_report' %}">Отчет</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>