{% extends "analyzes/base.html" %}

{% block title %}Каталог анализов | {% endblock title %}

{% block header %}
{% endblock header %}


{% block main %}

{% regroup object_list by group as grouped_analyses %}
<table class="uk-table uk-table-divider uk-table-middle uk-background-default">
    <thead class="uk-background-secondary">
    <tr>
        <th class="uk-table-shrink">Код</th>
        <th class="uk-table-expand">Название</th>
        <th class="uk-table-shrink">Сайт</th>
        <th class="uk-table-shrink">Бланк</th>
        <th class="uk-width-medium">Биоматериалы</th>
        <th class="uk-width-medium">Расходные материалы</th>
        <th class="uk-table-shrink">Срок исполнения</th>
    </tr>
    </thead>
    {% for group in grouped_analyses %}
    <tbody>

    <tr class="uk-background-primary">
        <td colspan="8">
            <div id="td_{{ forloop.counter }}" class="uk-width-auto uk-background-primary"
                 uk-sticky="bottom: #td_{{ forloop.counter|add:1 }}">
                <h4 class="uk-text-lead">{{ group.grouper }}</h4>
            </div>
        </td>
    </tr>
    {% for analysis in group.list %}
    <tr>
        <td><a class="uk-link-reset" href="{{analysis.get_absolute_url}}">{{analysis.code}}</a></td>
        <td><a class="uk-link-reset" href="{{analysis.get_absolute_url}}">{{analysis.name}}</a></td>
        <td class="text-center">
            {% if analysis.link %}
            <a href="{{analysis.link|default_if_none:''}}" uk-icon="icon: link; ratio: 1.5" target="_blank"
               title="Перейти"></a>
            {% else %}
            Нет
            {% endif %}
        </td>
        <td>
            {% for blank in analysis.blank_set.all %}
            <a target="_blank" href="{{blank.blank.url}}" class="uk-link-reset">{{blank.code}}</a>
            {% empty %}
            Нет
            {% endfor %}
        </td>
        <td>
            <ul class="uk-list uk-list-bullet">
                {% for bsg in analysis.analysissamplinggroup_set.all %}
                <li>{{bsg.bsg.biomaterial}}</li>
                {% endfor %}
            </ul>
        </td>
        <td>
            <ul class="uk-list uk-list-bullet">
                {% for bsg in analysis.analysissamplinggroup_set.all %}
                <li>{{bsg.bsg.container|default_if_none:'Без контейнера'}}</li>
                {% endfor %}
            </ul>
        </td>
        <td class="text-center align-center">{{analysis.ready_for|default_if_none:"Нет данных"}}</td>
    </tr>
    {% endfor %}
    </tbody>
    {% endfor %}
</table>
{% endblock main %}