{% extends "analyzes/base.html" %}

{% block title %}Сопоставление {{object}} | {% endblock title %}


{% block main %}
<div class="uk-content uk-margin-medium-top">
    <h4 class="uk-heading">{{ object }}</h4>
    <table class="uk-table uk-table-divider uk-table-middle">
        <thead class="uk-background-secondary">
        <tr>
            <th scope="col">Время изменения</th>
            <th scope="col">Кто изменил</th>
            <th scope="col">CMD</th>
            <th scope="col">Helix</th>
            <th scope="col">InVitro</th>
            <th scope="col">КДЛ</th>
            <th scope="col">Гемотест</th>
            <th scope="col">Диалаб</th>
            <th scope="col">Ситилаб</th>
            <th scope="col">Эфис</th>
            <th scope="col">Юнимед</th>
        </tr>
        </thead>
        <tbody id="list">
        {% for log_event in object.analysismappinglog.all %}
        <tr>
            <td>{{log_event.event.timestamp|date:'d.m.Y H:i'}}</td>
            {% with event_data=log_event.event.get_data %}
            <td>{{event_data.author}}</td>
            <td>{{event_data.cmd_code}}</td>
            <td>{{event_data.helix_code}}</td>
            <td>{{event_data.invitro_code}}</td>
            <td>{{event_data.kdl_code}}</td>
            <td>{{event_data.gemotest_code}}</td>
            <td>{{event_data.dialab_code}}</td>
            <td>{{event_data.citilab_code}}</td>
            <td>{{event_data.efis_code}}</td>
            <td>{{event_data.unimed_code}}</td>
            {% endwith %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock main %}