{% extends "analyzes/base.html" %}

{% block title %}
Сопоставление каталогов |
{% endblock title %}

{% block main %}
<table class="uk-table uk-table-divider uk-table-middle uk-background-default">
    <thead class="uk-background-secondary">
    <tr>
        <th class="uk-table-shrink">Код</th>
        <th class="uk-table-expand">Название</th>
        <th class="uk-width-medium">CMD</th>
        <th class="uk-width-medium">Helix</th>
        <th class="uk-width-medium">InVitro</th>
        <th class="uk-width-medium">КДЛ</th>
        <th class="uk-width-medium">Гемотест</th>
        <th class="uk-width-medium">Диалаб</th>
        <th class="uk-width-medium">Ситилаб</th>
        <th class="uk-width-medium">Эфис</th>
        <th class="uk-width-medium">Юнимед</th>
        {% if perms.analyzes.change_analysismapping %}
        <th class="uk-table-shrink">
            <a href="{% url 'Upload_mapping' %}" class="uk-icon-button uk-icon button-nav" uk-icon="upload" title="Загрузить сопоставление"></a>
            Действия
        </th>
        {% endif %}
    </tr>
    </thead>
    <tbody id="list">
    {% for object in object_list %}
    <tr>
        <td>{{object.analysis.code}}</td>
        <td>{{object.analysis.name}}</td>
        <td>{{object.cmd_code}}</td>
        <td>{{object.helix_code}}</td>
        <td>{{object.invitro_code}}</td>
        <td>{{object.kdl_code}}</td>
        <td>{{object.gemotest_code}}</td>
        <td>{{object.dialab_code}}</td>
        <td>{{object.citilab_code}}</td>
        <td>{{object.efis_code}}</td>
        <td>{{object.unimed_code}}</td>
        {% if perms.analyzes.change_analysismapping %}
        <td>
            <div>
                <a class="uk-icon-button uk-icon button-nav" uk-icon="info"
                   href="{{object.get_absolute_url}}edit/"></a>
                {% if object.analysismappinglog.all %}
                <a class="uk-icon-button uk-icon button-nav" uk-icon="pencil"
                   href="{{object.get_absolute_url}}"></a>

                {% endif %}
            </div>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock main %}