{% extends "analyzes/base.html" %}

{% block title %}История редактирования {{object}} | {% endblock title %}


{% block main %}
<div class="uk-grid-large uk-margin-medium-top" uk-grid>
    <div class="uk-width-auto">
        <div>
            {% if object.analysis.all and perms.analyzes.view_analysislog %}
            <a title="Исследование" href="{{ object.get_absolute_url }}"
               class="uk-icon-button uk-icon uk-margin-small-right button-nav" uk-icon="info"></a>
            {% endif %}
            {% if perms.analyzes.change_analysis %}
            <a title="Редактировать" href="{{ object.get_edit_url }}"
               class="uk-icon-button uk-icon uk-margin-small-right button-nav" uk-icon="pencil"></a>
            {% endif %}

        </div>
    </div>
    <div class="uk-width-expand">
        <h3 class="uk-heading-divider">{{object}}</h3>
    </div>
</div>
<div class="uk-width-expand uk-margin-medium-top uk-background-default">
<table class="uk-table uk-table-divider uk-table-middle uk-margin-medium-top">
    <tbody>
    <tr class="uk-background-secondary">
        <th scope="col">Время изменения</th>
        <th scope="col">Кто изменил</th>
        <th scope="col">Взятие</th>
        <th scope="col">Условия хранения</th>
        <th scope="col">Доназначение</th>
        <th scope="col">Стабильность +2+8</th>
        <th scope="col">Стабильность -20</th>
        <th scope="col">Метод</th>
        <th scope="col">Обследование</th>
        <th scope="col">Факторы</th>
        <th scope="col">Подготовка</th>
    </tr>
    <tbody>
    {% for log_event in object.analysis.all %}
    <tr>
        <td>{{log_event.event.timestamp|date:'d.m.Y H:i'}}</td>
        {% with event_data=log_event.event.get_data %}
        <td>{{event_data.author}}</td>
        <td>{{event_data.take_instructions}}</td>
        <td>{{event_data.store_conditions}}</td>
        <td>{{event_data.extra_appointment_days}}</td>
        <td>{{event_data.stability_8}}</td>
        <td>{{event_data.stability_20}}</td>
        <td>{{event_data.analysis_method}}</td>
        <td>{{event_data.clinical_meaning}}</td>
        <td>{{event_data.influental_factors}}</td>
        <td>{{event_data.get_ready}}</td>
        {% endwith %}
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock main %}