{% extends 'analyzes/base.html' %}

{% block title %}Отчет по продажам услуг | {% endblock title %}


{% block main %}
<div class="uk-container-expand">
    <div class="uk-flex uk-flex-center">
        <form method="post">{% csrf_token %}
            <div class="uk-grid-small uk-flex-middle uk-grid" uk-grid>
                {% for field in form %}
                {% if field.field.widget.input_type == 'checkbox' %}
                <div class="uk-margin-top uk-margin-bottom">
                    <label>{{ field }} {{ field.label }}</label>
                </div>
                {% elif field.field.widget.input_type == 'select' %}
                <div class="uk-margin-top uk-margin-bottom">
                    <label class="uk-form-label" for="id_{{ field.name }}">{{ field.label }}</label>
                    <div class="uk-form-controls">
                        {{ field }}
                    </div>
                </div>
                {% else %}
                <div class="uk-margin-top uk-margin-bottom">
                    <label class="uk-form-label" for="id_{{ field.name }}">{{ field.label }}</label>
                    <div class="uk-form-controls">
                        {{ field }}
                    </div>
                    {% for error in field.errors %}
                    <span class="helper-text red-text">{{ error|escape }}</span>
                    {% endfor %}
                </div>
                {% endif %}
                {% endfor %}
                <div class="uk-margin-top">
                    <button class="uk-icon-button uk-icon button-primary" type="submit" uk-icon="icon: check">
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% if tables %}
<div class="uk-section">
    <table class="uk-table uk-table-middle uk-table-divider">
        <thead class="uk-background-secondary">
        <th scope="col">Показатель/Период</th>
        {% for report in reports %}
        {% if forloop.counter == 1 %}
        {% for period in report.report %}
        <th class="text-center" scope="col">
            {{ period.start_date|date:'d.m.Y' }}{% if not by_day %}—{{ period.end_date|date:'d.m.Y' }}{% endif %}
        </th>
        {% endfor %}
        {% endif %}
        {% endfor %}
        </thead>
        <tbody>
        {% for report in reports %}
        <tr>
            <th scope="row">{{ report.analysis }}</th>
            {% for period in report.report %}
            <td class="text-center">{{period.analysis_count}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if reports and not tables %}
<div class="uk-section">
    <canvas id="analysis-sales" width="75" height="30"></canvas>
</div>
{% endif %}

{% endblock main %}

{% block scripts%}
{% if reports and not tables %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
<script type="text/javascript">
 var ctx = document.getElementById('analysis-sales');
 var quoted_labels = [];
 {% for report in reports %}
 var quoted_label = "{{report.analysis|escapejs}}";
 quoted_labels.push(quoted_label);
 {% endfor %}
 Chart.defaults.global.defaultFontColor = 'black';
 Chart.defaults.global.defaultFontSize = 16;
 var myLineChart = new Chart(ctx, {
           type: 'line',
           data: {
               labels:[{% for period in reports.0.report %}"{{ period.start_date|date:'d.m.Y' }}{% if not by_day %}—{{ period.end_date|date:'d.m.Y' }}{% endif %}",{% endfor %}],
               datasets: [
               {% for report in reports %}
               {
                    label: quoted_labels[{{ forloop.counter0 }}],
                    fill: false,
                    lineTension: 0.1,
                    backgroundColor: "{{report.color}}",
                    borderColor: "{{report.color}}",
                    borderCapStyle: 'square',
                    borderJoinStyle: 'miter',
                      pointBorderColor: "black",
                      pointBackgroundColor: "white",
                      pointBorderWidth: 1,
                      pointHoverRadius: 8,
                      pointHoverBackgroundColor: "{{report.color}}",
                      pointHoverBorderColor: "black",
                      pointHoverBorderWidth: 2,
                      pointRadius: 4,
                      pointHitRadius: 10,
                    data: [{% for period in report.report %}{{ period.analysis_count}},{% endfor %}]
                         },{% endfor %}],
                    spanGaps: true,
                  },
           options:{
               scales: {
                   xAxes: [{
                       display:true
                          }],
                   yAxes: [{
                       ticks: {
                           beginAtZero:true
                               },
                        scaleLabel: {
                         display: true,
                         labelString: 'Продажи анализов',
                         fontSize: 20
                         }
      }]
    }
  }
});


</script>
{% endif %}
{% endblock scripts %}