{% extends "analyzes/base.html" %}

{% block title %}{{object}} | {% endblock title %}


{% block main %}

<div class="uk-grid-large uk-margin-medium-top" uk-grid>
    <div class="uk-width-auto">
        <div>
            {% if perms.analyzes.change_analysis %}
            <a title="Редактировать" href="{{ object.get_edit_url }}"
               class="uk-icon-button uk-icon uk-margin-small-right button-nav" uk-icon="pencil"></a>
            {% endif %}
            {% if object.analysis.all and perms.analyzes.view_analysislog %}
            <a title="История редактирования" href="{{ object.get_history_url }}"
               class="uk-icon-button uk-icon uk-margin-small-right button-nav" uk-icon="history"></a>
            {% endif %}
        </div>
    </div>
    <div class="uk-width-expand">
        <h3 class="uk-heading-divider">{{object}}</h3>
    </div>
</div>


<div class="uk-margin-medium-top">
    <ul class="uk-subnav uk-subnav-pill" uk-switcher="animation: uk-animation-fade">
        <li><a href="#">Подробно</a></li>
        <li><a href="#">Исследования в группе</a></li>
        <li><a href="#">
            {% if object.profile.all %}
            Состав профиля
            {% endif %}
            {% if object.simple.all %}
            В составе профилей
            {% endif %}
        </a></li>
    </ul>

    <ul class="uk-switcher uk-margin">
        <li>
            <div class="uk-grid-small uk-margin-medium-top " uk-grid>
                <div class="uk-width-2-3">
                    <div class="uk-card-default uk-card-body">
                        <h3 class="uk-card-title">Тесты</h3>
                        <table class="uk-table uk-table-divider uk-table-middle">
                            <thead class="uk-background-secondary">
                            <tr>
                                {% if perms.analyzes.change_test %}
                                <th class="uk-table-shrink"></th>
                                {% endif %}
                                <th class="uk-width-medium">Название</th>
                                <th class="uk-table-shrink">Единицы измерения</th>
                                <th class="uk-table-expand">Референсные пределы</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if object.profile.all %}
                            {% for target in object.profile.all %}
                            {% for test in target.simple_target.tests.all %}
                            {% if not test.test.is_technical %}
                            <tr>
                                {% if perms.analyzes.change_test %}
                                <td>
                                    <a class="uk-icon-button uk-icon uk-margin-small-right button-nav" uk-icon="pencil"
                                       href="{{test.test.get_edit_url}}?next={{request.get_full_path}}"></a>
                                </td>
                                {% endif %}
                                <td>{{test.test.name}}</td>
                                <td>{{test.test.measuring_units|default_if_none:"Нет"}}</td>
                                <td>{{test.test.references|default_if_none:"Нет данных"}}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                            {% else %}
                            {% for test in object.tests.all %}
                            {% if not test.test.is_technical %}
                            <tr>
                                {% if perms.analyzes.change_test %}
                                <td>
                                    <a class="uk-icon-button uk-icon uk-margin-small-right button-nav" uk-icon="pencil"
                                       href="{{test.test.get_edit_url}}?next={{request.get_full_path}}"></a>
                                </td>
                                {% endif %}
                                <td>{{test.test.name}}</td>
                                <td>{{test.test.measuring_units|default_if_none:"Нет"}}</td>
                                <td>{{test.test.references|default_if_none:"Нет данных"}}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            {% endif %}

                            {% if perms.analyzes.change_test %}
                            <tr>
                                <td colspan="4">Технические тесты <small>(Не отображаются)</small></td>
                            </tr>
                            {% if object.profile.all %}
                            {% for target in object.profile.all %}
                            {% for test in target.simple_target.tests.all %}
                            {% if test.test.is_technical %}
                            <tr>
                                <td>
                                    <a class="uk-icon-button uk-icon uk-margin-small-right button-nav" uk-icon="pencil"
                                       href="{{test.test.get_edit_url}}?next={{request.get_full_path}}"></a>
                                </td>
                                <td>{{test.test.name}}</td>
                                <td>{{test.test.measuring_units|default_if_none:"Нет"}}</td>
                                <td>{{test.test.references|default_if_none:"Нет данных"}}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                            {% else %}
                            {% for test in object.tests.all %}
                            {% if test.test.is_technical %}
                            <tr>
                                <td>
                                    <a class="uk-icon-button uk-icon uk-margin-small-right button-nav" uk-icon="pencil"
                                       href="{{test.test.get_edit_url}}?next={{request.get_full_path}}"></a>
                                </td>
                                <td>{{test.test.name}}</td>
                                <td>{{test.test.measuring_units|default_if_none:"Нет"}}</td>
                                <td>{{test.test.references|default_if_none:"Нет данных"}}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="uk-width-1-3">
                    <div class="uk-card-default uk-card-body">
                        <h3 class="uk-card-title">Контейнеры и биоматериалы</h3>
                        <table class="uk-table uk-table-divider uk-table-middle">
                            <thead class="uk-background-secondary">
                            <tr>
                                <th>Биоматериал</th>
                                <th>Контейнер</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for bsg in object.analysissamplinggroup_set.all %}
                            <tr>
                                <td>{{bsg.bsg.biomaterial}}</td>
                                <td>{{bsg.bsg.container|default_if_none:"Не указан"}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        {% if object.additional_biomaterials.all %}
                        <table class="uk-table uk-table-divider uk-table-middle">
                            <thead class="uk-background-secondary">
                            <tr>
                                <th>Дополнительные биоматериалы</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for bm in object.additional_biomaterials.all %}
                            <tr>
                                <td>{{ bm }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>

                <div class="uk-width-2-3">
                    <div class="uk-card-default uk-card-body">
                        <h3 class="uk-card-title">Инструкция по взятию биоматериала</h3>
                        <p>{{object.take_instructions|default_if_none:"Нет данных"}}</p>
                        <hr>
                        <h3 class="uk-card-title">Условия хранения и транспортировки биоматериала</h3>
                        <p>{{object.store_conditions|default_if_none:"Нет данных"}}</p>
                        <hr>
                        <h3 class="uk-card-title">Подготовка к исследованию</h3>
                        <p>{{object.get_ready|default_if_none:"Нет данных"}}</p>
                        <hr>
                        <h3 class="uk-card-title">Примечания/ограничения</h3>
                        <p>{{object.notes|default_if_none:"Нет данных"}}</p>
                        <hr>
                        <h3 class="uk-card-title">Клиническое значение/алгоритм обследования</h3>
                        <p>{{object.clinical_meaning|default_if_none:"Нет данных"}}</p>
                        <hr>
                        <h3 class="uk-card-title">Влияние различных факторов на результат</h3>
                        <p>{{object.influental_factors|default_if_none:"Нет данных"}}</p>
                    </div>
                </div>

                <div class="uk-width-1-3">
                    <div class="uk-card-default uk-card-body">
                        <h3 class="uk-card-title">Сроки</h3>
                        <table class="uk-table uk-table-divider uk-table-middle">
                            <tbody>
                            <tr>
                                <th scope="row">Срок исполнения (дни):</th>
                                <td>{{object.ready_for|default_if_none:"Нет данных"}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Сроки доназначения:</th>
                                <td>{{object.extra_appointment_days|default_if_none:"Нет данных"}}
                                    {{object.extra_appointment_units|default_if_none:""}}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Стабильность при температуре +2-+8:</th>
                                <td>{{object.stability_8|default_if_none:"Нет данных"}}
                                    {{object.stability_8_unit|default_if_none:""}}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Стабильность при температуре -20:</th>
                                <td>{{object.stability_20|default_if_none:"Нет данных"}}
                                    {{object.stability_20_unit|default_if_none:""}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="uk-card-default uk-card-body uk-margin-medium-top">
                        <table class="uk-table uk-table-divider uk-table-middle">
                            <tbody>
                            <tr>
                                <th scope="row">Анализатор</th>
                                <td>
                                    {% for analyzer in object.analysisanalyzers_set.all %}
                                    {{analyzer.analyzer}}
                                    {% empty %}
                                    Не указан
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Метод исследования</th>
                                <td>{{object.analysis_method|default_if_none:"Нет данных"}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Инструкция к реагенту</th>
                                <td>
                                    {% if object.reagent %}
                                    <a href="{{object.reagent.url}}" uk-icon="icon: cloud-download" target="_blank"
                                       title="Скачать"></a>
                                    {% else %}
                                    Нет
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Образец результата</th>
                                <td>
                                    {% if object.results_example %}
                                    <a href="{{results_example.url}}" uk-icon="icon: cloud-download" target="_blank"
                                       title="Скачать"></a>
                                    {% else %}
                                    Нет
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Бланк</th>
                                <td>
                                    {% for blank in object.blank_set.all %}
                                    <a href="{{blank.blank.url}}" class="uk-link-reset" target="_blank" title="Скачать">{{blank.code}}</a>
                                    {% empty %}
                                    Нет
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Сайт</th>
                                <td>
                                    {% if object.link %}
                                    <a href="{{object.link|default_if_none:''}}" uk-icon="icon: link; ratio: 1.5"
                                       target="_blank"
                                       title="Перейти"></a>
                                    {% else %}
                                    Нет
                                    {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="uk-container uk-margin-medium-top">
                <div class="uk-card-default uk-card-body">
                    <table class="uk-table uk-table-divider uk-table-middle filterable-table">
                        <thead class="uk-background-secondary">
                        <tr>
                            <th scope="col">
                                <div class="uk-grid-large uk-flex-middle uk-grid" uk-grid>
                                    <div class="uk-width-expand uk-first-column">
                                        Исследование
                                    </div>
                                    <div class="uk-width-auto">
                                        <form>
                                            <fieldset class="uk-fieldset">
                                                <div class="uk-inline">
                                                    <span class="uk-form-icon" uk-icon="icon: search"></span>
                                                    <input type="text" class="uk-input filter-input" id="st-input">
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody id="st-tbody">
                        {% for same_analysis in object.group.analysis_set.all %}
                        <tr class="analysis-row">
                            <td><a class="uk-link-reset"
                                   href="{{ same_analysis.get_absolute_url }}">{{same_analysis}}</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
        {% if object.profile.all %}
        <li>
            <div class="uk-container uk-margin-medium-top">
                <div class="uk-card-default uk-card-body">
                    <table class="uk-table uk-table-divider uk-table-middle filterable-table">
                        <thead class="uk-background-secondary">
                        <tr>
                            <th scope="col">
                                <div class="uk-grid-large uk-flex-middle uk-grid" uk-grid>
                                    <div class="uk-width-expand uk-first-column">
                                        Профили
                                    </div>
                                    <div class="uk-width-auto">
                                        <form>
                                            <fieldset class="uk-fieldset">
                                                <div class="uk-inline">
                                                    <span class="uk-form-icon" uk-icon="icon: search"></span>
                                                    <input type="text" class="uk-input filter-input" id="pr-input">
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody id="pr-tbody">
                        {% for simple in object.profile.all %}
                        <tr class="analysis-row">
                            <td><a class="uk-link-reset" href="{{ simple.simple_target.get_absolute_url }}">{{simple.simple_target}}</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
        {% endif %}

        {% if object.simple.all %}
        <li>
            <div class="uk-container uk-margin-medium-top">
                <div class="uk-card-default uk-card-body">
                    <table class="uk-table uk-table-divider uk-table-middle filterable-table">
                        <thead class="uk-background-secondary">
                        <tr>
                            <th scope="col">
                                <div class="uk-grid-large uk-flex-middle uk-grid" uk-grid>
                                    <div class="uk-width-expand uk-first-column">
                                        Исследование
                                    </div>
                                    <div class="uk-width-auto">
                                        <form>
                                            <fieldset class="uk-fieldset">
                                                <div class="uk-inline">
                                                    <span class="uk-form-icon" uk-icon="icon: search"></span>
                                                    <input type="text" class="uk-input filter-input" id="same-input">
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody id="same-tbody">
                        {% for profile in object.simple.all %}
                        <tr class="analysis-row">
                            <td><a class="uk-link-reset" href="{{ profile.profile.get_absolute_url }}">{{profile.profile}}</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
        {% endif %}
    </ul>
</div>

{% endblock main %}

{% block scripts%}
<script>
document.querySelectorAll('.filterable-table').forEach(oneTable => {
    const filterInputId = oneTable.querySelector('input').id;
    const filteredTbodyId = oneTable.querySelector('tbody').id;
    filterElements(`#${filterInputId}`, `#${filteredTbodyId}`);
})
</script>
{% endblock %}