{% extends "analyzes/base_reversed_analysis.html" %}

{% block targets %}
{% for aa in object.analysisanalyzers_set.all %}
<tr class="analysis-row">
    <td>
        <a href="{{aa.analysis.get_absolute_url}}"
           class="uk-link-reset">{{aa.analysis}}</a>
    </td>
</tr>
{% empty %}
<tr>
    <td>Нет связанных исследований</td>
</tr>
{% endfor %}
{% endblock %}