{% extends "analyzes/base.html" %}

{% block title %}Анализы, связанные с {{object}} | {% endblock title %}

{% block main %}
<div class="uk-container uk-margin-medium-top">
    <div class="uk-card uk-card-default">
        <div class="uk-card-header">
        <h3 class="uk-card-title">{{ object }}</h3>
    </div>
    <div class="uk-card-body">
    <table class="uk-table uk-table-divider uk-table-middle">
        <thead class="uk-background-secondary">
        <tr>
            <th scope="col">
                <div class="uk-grid-large uk-flex-middle uk-grid" uk-grid>
                    <div class="uk-width-expand uk-first-column">
                    Связанные исследования
                    </div>
                    <div class="uk-width-auto">
                        <form>
                            <fieldset class="uk-fieldset">
                                    <div class="uk-inline">
                                        <span class="uk-form-icon" uk-icon="icon: search"></span>
                                        <input type="text" class="uk-input" id="filten-input">
                                    </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        {% block targets %}
        {% for same_analysis in object.group.analysis_set.all %}
        <tr class="analysis-row">
            <td><a href="{{same_analysis.get_absolute_url}}"
                   class="uk-link-reset">{{same_analysis}}</a></td>
        </tr>
        {% endfor %}
        {% endblock targets %}
        </tbody>
    </table>
    </div>
    </div>
</div>
{% endblock main %}

{% block scripts%}
<script>
filterElements('#filter-input', 'tbody');
</script>
{% endblock %}