{% extends "analyzes/base.html" %}

{% block title %}
{% if request.get_full_path == '/catalog/analyzers/' %}
Анализаторы |
{% elif request.get_full_path == '/catalog/biomaterials/' %}
Биоматериалы |
{% elif request.get_full_path == '/catalog/containers/' %}
Расходные материалы |
{% else %}
Ничего не подходит |
{% endif %}
{% endblock title %}




{% block main %}
<div class="uk-container uk-container-small uk-margin-medium-top">
    <div class="uk-card-default uk-card-body">
    <table class="uk-table uk-table-divider uk-table-middle">
        <thead class="uk-background-secondary">
        <tr>
            <th scope="col">
                <div class="uk-grid-large uk-flex-middle uk-grid" uk-grid>
                    <div class="uk-width-expand uk-first-column">
                    Название
                    </div>
                    <div class="uk-width-auto">
                        <form>
                            <fieldset class="uk-fieldset">
                                    <div class="uk-inline">
                                        <span class="uk-form-icon" uk-icon="icon: search"></span>
                                        <input type="text" class="uk-input" id="filter-input">
                                    </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
        <tr class="analysis-row">
            <td><a class="uk-link-reset" href="{{ object.get_absolute_url }}">{{object.name}}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock main %}

{% block scripts %}
<script>
filterElements('#filter-input', 'tbody');
</script>
{% endblock scripts %}