{% extends "analyzes/base.html" %}

{% block title %}
Бланки |
{% endblock title %}

{% block main %}
<div class="uk-flex uk-flex-center uk-margin uk-margin-medium-top">
    <form>
        <fieldset class="uk-fieldset">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: search"></span>
                <input type="text" class="uk-input" id="filter-input">
            </div>
        </fieldset>
    </form>
</div>
<div class="uk-grid-small uk-child-width-expand@s uk-text-center" id="blanks" uk-grid>
    {% if perms.analyzes.add_blank %}
    <div class="uk-width-1-3">
        <div class="uk-card uk-card-default">
            <div class="uk-card-header">
                <h3 class="uk-card-title">Добавить бланк</h3>
            </div>
            <div class="uk-card-body">
                <div class="uk-margin uk-flex uk-flex-center">
                            <a href="{% url 'Create blank' %}" class="uk-icon-button uk-icon" uk-icon="icon: plus" title="Добавить" uk-toggle></a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% for object in object_list %}
    <div class="uk-width-1-3" id="row_{{ forloop.counter }}">
        <div class="uk-card uk-card-default">
            <div class="uk-card-header">
                <h3 class="uk-card-title">{{object.code}}</h3>
            </div>
            <div class="uk-card-body">
                <p>{{object.name}}</p>
                <div class="uk-margin uk-flex uk-flex-right">
                    <ul class="uk-grid-small uk-grid" uk-grid>
                        <li>
                            <a href="{{object.blank.url}}" class="uk-icon-button uk-icon" title="Скачать" target="_blank" uk-icon="icon: download"></a>
                        </li>
                        <li>
                            <a class="uk-icon-button uk-icon" uk-icon="icon: list" title="Исследования в бланке" href="{{object.get_absolute_url}}"></a>
                        </li>
                        {% if perms.analyzes.change_blank %}
                        <li>
                            <a class="uk-icon-button uk-icon" uk-icon="icon: pencil" title="Редактировать" href="{{object.get_edit_url}}"></a>
                        </li>
                        {% endif %}
                        {% if perms.analyzes.delete_blank %}
                        <li>
                                <a href="#modal_{{ object.pk }}" class="uk-icon-button uk-icon" uk-icon="icon: trash" title="Удалить" uk-toggle></a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
        <div id="modal_{{forloop.counter}}" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Удаление</h2>
        <p>Вы уверены, что хотите удалить <b>{{object}}?</b></p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Отмена</button>
            <a href="{{ object.get_delete_url }}" class="uk-button uk-button-danger delete-button"
               type="button">Удалить</a>
        </p>
    </div>
</div>
        {% endfor %}
    </div>
</div>
{% csrf_token %}
{% endblock main %}


{% block scripts%}
<script>
filterElements('#filter-input', '#blanks');
</script>
{% endblock %}