{% extends "analyzes/base_reversed_analysis.html" %}

{% block targets %}
{% for analysis in object.analyzes.all %}
<tr class="analysis-row">
    <td>
        <a href="{{analysis.get_absolute_url}}"
           class="uk-link-reset">{{analysis}}</a>
    </td>
</tr>
{% endfor %}
{% endblock %}