{% extends "analyzes/base_reversed_analysis.html" %}

{% block targets %}
{% for bsg in object.biomaterialsamplinggroup_set.all %}
{% for asg in bsg.analysissamplinggroup_set.all %}
<tr class="analysis-row">
    <td>
        <a href="{{asg.analysis.get_absolute_url}}"
           class="uk-link-reset">{{asg.analysis}}</a>
    </td>
</tr>
{% endfor %}
{% empty %}
<tr>
    <td>Нет связанных исследований</td>
</tr>
{% endfor %}
{% endblock %}