<div class="uk-container-expand">
    <div class="uk-margin-medium-top">
        <ul class="uk-flex-center uk-subnav uk-subnav-pill uk-subnav-divider">
          <li class="{% if '/catalog/analyzes/' in request.get_full_path %}uk-active{% endif %}">
            <a href="{% url 'Analyzes list' %}">Исследования</a>
          </li>
              {% if perms.analyzes.view_analysis %}
              <li class="{% if '/top100' in request.get_full_path %}uk-active{% endif %}">
                <a href="{% url 'Top100' %}">Топ 100 исследований</a>
              </li>
              {% endif %}
              {% if perms.analyzes.view_analysis %}
              <li class="{% if 'report/' in request.get_full_path %}uk-active{% endif %}">
                <a href="{% url 'Analyzes report' %}">Отчет по продажам</a>
              </li>
              {% endif %}
              {% if perms.analyzes.view_blank %}
              <li class="{% if '/catalog/blanks/' in request.get_full_path %}uk-active{% endif %}">
                <a href="{% url 'Blanks list' %}">Бланки</a>
              </li>
              {% endif %}
              {% if perms.analyzes.view_analysismapping %}
              <li class="{% if '/catalog/mapping/' in request.get_full_path %}uk-active{% endif %}">
                <a href="{% url 'Mapping_list' %}">Сопоставление каталогов</a>
              </li>
              {% endif %}
              {% if perms.analyzes.view_analyzer %}
              <li class="{% if '/catalog/analyzers/' in request.get_full_path %}uk-active{% endif %}">
                <a href="{% url 'Analyzers list' %}">Анализаторы</a>
              </li>
              {% endif %}
              {% if perms.analyzes.view_biomaterial %}
              <li class="{% if '/catalog/biomaterials/' in request.get_full_path %}uk-active{% endif %}">
                <a href="{% url 'Biomaterials list' %}">Биоматериалы</a>
              </li>
              {% endif %}
              {% if perms.analyzes.view_container %}
              <li class="{% if '/catalog/containers/' in request.get_full_path %}uk-active{% endif %}">
                <a href="{% url 'Container list' %}">Расходные материалы</a>
              </li>
              {% endif %}
         </ul>
    </div>
</div>