{% extends "analyzes/base_shortlist.html" %}

{% block title %}Топ 100 анализов | {% endblock title %}

{% block main %}
<div class="uk-container uk-margin-medium-top">
    <table class="uk-table uk-table-divider uk-table-middle uk-background-default">
        <thead class="uk-background-secondary">
        <tr>
            <th scope="col" class="uk-table-shrink">
                <div style="margin-bottom: 9px">
                Номер
                </div>
            </th>
            <th class="uk-table-expand">
                <div class="uk-grid-small uk-flex-middle uk-grid" uk-grid>
                    <div class="uk-width-expand uk-first-column">
                    Исследование
                    </div>
                    <div class="uk-width-auto">
                        <form>
                            <fieldset class="uk-fieldset">
                                    <div class="uk-inline">
                                        <span class="uk-form-icon" uk-icon="icon: search"></span>
                                        <input type="text" class="uk-input" id="filter-input">
                                    </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </th>
            {% if perms.finance.view_sale %}
            <th class="uk-table-shrink">Кол-во продаж</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for analysis in object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ analysis }}</td>
            {% if perms.finance.view_sale %}
            <td>{{ analysis.sales_count }}</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock main %}

{% block scripts %}
<script>
    filterElements('#filter-input', 'tbody');
</script>
{% endblock scripts %}