{% extends "mainapp/base.html" %}

{% block title %}{% endblock title %}

{% block css %}{% endblock css%}

{% block head_scripts %}{% endblock head_scripts %}


{% block tabs %}
{% include "finance/tabs.html" %}
{% endblock tabs %}

{% block main %}
<div class="row mb-3 pt-3">
    <div class="col-2"></div>
    <div class="col-8">
        <h1 class="text-center">{% block header %}{% endblock header %}</h1>
    </div>
    <div class="col-2"></div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        {% block content %}
        {% endblock content %}
    </div>
    <div class="col-2">
        {% block right_list %}
        {% if filterset.form %}
        <div class="shadow card bg-light">
            <h5 class="card-header text-center">Фильтр</h5>
            <div class="card-body">
                <form method="get" id="base_form">
                    {% for field in filterset.form %}
                    {% if field.field.widget.input_type == 'checkbox' %}
                    <div class="form-check mb-1">
                        {{ field }}
                        <label class="form-check-label" for="id_{{ field.name }}">{{ field.label }}</label>
                    </div>
                    {% else %}
                    <div class="form-group">
                        <label for="id_{{ field.name }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="btn-group float-right">
                        <button class="btn btn-primary" type="submit">Искать</button>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
        {% endblock right_list %}
    </div>
</div>
{% endblock main %}


{% block bottom %}
{% endblock bottom %}


{% block scripts%}
{% endblock scripts %}