{% extends "finance/base.html" %}


{% block title %}Заказчики | {% endblock title %}


{% block main %}
<div class="uk-container uk-container-xsmall">
    <table class="uk-table uk-table-divider uk-table-middle">
        <thead class="uk-background-secondary">
        <tr>
            <th scope="col">Код ЛПУ</th>
            <th scope="col">Название ЛПУ</th>
            <th scope="col">Активно</th>
        </tr>
        </thead>
        <tbody>
        {% for lpu in object_list %}
        <tr>
            <td><a class="uk-link-reset" href="{{ lpu.get_finance_url }}">{{lpu.code}}</a></td>
            <td><a class="uk-link-reset" href="{{ lpu.get_finance_url }}">{{lpu.name}}</a></td>
            {% if lpu.is_active %}
            <td>Да</td>
            {% else %}
            <td>Нет</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock main %}