{% extends 'finance/base.html' %}


{% block title %}ЛПУ {{object}} |{% endblock title %}


{% block header %}

{% endblock header %}

{% block main %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card shadow mb-3 mt-3 bg-light">
            <div class="card-body">
                <h6 class="card-title text-center">Название заказчика:</h6>
                <h3 class="card-text text-center">{{object.name}}</h3>
                <h6 class="card-title text-center">Код заказчика:</h6>
                <h3 class="card-text text-center">{{object.code}}</h3>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card shadow mb-3">
            <h3 class="card-header text-center">Динамика продаж за месяц</h3>
            <div class="card-body">
                {% if sales_by_weeks %}
                <table class="table">
                    <thead>
                    <th scope="col">Показатель/Период</th>
                    {% for period in sales_by_weeks %}
                    <th class="text-center" scope="col">
                        {{ period.start_date }}—{{ period.end_date }}
                    </th>
                    {% endfor %}
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Оборот</th>
                        {% for period in sales_by_weeks %}
                        <td class="text-center">{{period.turnover}} р.</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th scope="row">Количество заявок</th>
                        {% for period in sales_by_weeks %}
                        <td class="text-center">{{period.requests}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th scope="row">Средняя цена покупки</th>
                        {% for period in sales_by_weeks %}
                        <td class="text-center">{{period.avg_price}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th scope="row">Средний чек</th>
                        {% for period in sales_by_weeks %}
                        <td class="text-center">{{period.avg_check}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th scope="row">Глубина чека</th>
                        {% for period in sales_by_weeks %}
                        <td class="text-center">{{period.check_deep}}</td>
                        {% endfor %}
                    </tr>
                    </tbody>
                    {% else %}
                    <h1 class="text-center card-title">Нет продаж</h1>
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="card shadow mb-3">
            <h3 class="card-header text-center">Динамика продаж за текущую неделю</h3>
            <div class="card-body">
                {% if week_sales %}
                <table class="table">
                    <thead>
                    <th scope="col">Показатель/Период</th>
                    {% for period in week_sales %}
                    <th class="text-center" scope="col">
                        {{ period.start_date }}
                    </th>
                    {% endfor %}
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Оборот</th>
                        {% for period in week_sales %}
                        <td class="text-center">{{period.turnover}} р.</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th scope="row">Количество заявок</th>
                        {% for period in week_sales %}
                        <td class="text-center">{{period.requests}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th scope="row">Средняя цена покупки</th>
                        {% for period in week_sales %}
                        <td class="text-center">{{period.avg_price}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th scope="row">Средний чек</th>
                        {% for period in week_sales %}
                        <td class="text-center">{{period.avg_check}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th scope="row">Глубина чека</th>
                        {% for period in week_sales %}
                        <td class="text-center">{{period.check_deep}}</td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
                {% else %}
                <h1 class="text-center card-title">Нет продаж</h1>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock main %}
