{% extends 'finance/base.html' %}


{% block title %}Отчет по показателям продаж |{% endblock title %}

{% block head_scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
{% endblock head_scripts %}


{% block header %}

{% endblock header %}

{% block main %}
<div class="uk-container-expand">
    <div class="uk-flex uk-flex-center">
        <form method="post">{% csrf_token %}
            <div class="uk-grid-small uk-flex-middle uk-grid" uk-grid>
                {% for field in form %}
                {% if field.field.widget.input_type == 'checkbox' %}
                <div class="uk-margin-top uk-margin-bottom">
                    <label>{{ field }} {{ field.label }}</label>
                </div>
                {% elif field.field.widget.input_type == 'select' %}
                <div class="uk-margin-top uk-margin-bottom">
                    <label class="uk-form-label" for="id_{{ field.name }}">{{ field.label }}</label>
                    <div class="uk-form-controls">
                        {{ field }}
                    </div>
                </div>
                {% else %}
                <div class="uk-margin-top uk-margin-bottom">
                    <label class="uk-form-label" for="id_{{ field.name }}">{{ field.label }}</label>
                    <div class="uk-form-controls">
                        {{ field }}
                    </div>
                    {% for error in field.errors %}
                    <span class="helper-text red-text">{{ error|escape }}</span>
                    {% endfor %}
                </div>
                {% endif %}
                {% endfor %}
                <div class="uk-margin-top">
                    <button class="uk-icon-button uk-icon button-primary" type="submit" uk-icon="icon: check">
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% if tables %}
{% for report in reports %}
<div class="row">
    <div class="col-12">
        <div class="card shadow mb-3">
            <div class="card-body scroll-y">
                <h3 class="card-title text-center">
                    {% if report.lpu %}
                    {{report.lpu}}
                    {% else %}
                    Общие показатели продаж
                    {% endif %}
                </h3>
                <table class="table table-hover table-bordered">
                    <thead>
                    <th scope="col">Показатель/Период</th>
                    {% for period in report.report %}
                    <th class="text-center" scope="col">
                        {{ period.start_date|date:'d.m.Y' }}{% if not by_day %}—{{ period.end_date|date:'d.m.Y' }}{% endif %}
                    </th>
                    {% endfor %}
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Оборот</th>
                        {% for period in report.report %}
                        <td class="text-center">{{period.turnover}} р.</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th scope="row">Количество заявок</th>
                        {% for period in report.report %}
                        <td class="text-center">{{period.requests}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th scope="row">Средняя цена покупки</th>
                        {% for period in report.report %}
                        <td class="text-center">{{period.avg_price}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th scope="row">Средний чек</th>
                        {% for period in report.report %}
                        <td class="text-center">{{period.avg_check}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th scope="row">Глубина чека</th>
                        {% for period in report.report %}
                        <td class="text-center">{{period.check_deep}}</td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% empty %}
{% endfor %}
{% endif %}

{% if not tables and reports %}
<div class="row">
    <div class="col-12">
        <div class="card shadow mb-3">
            <h2 class="card-title text-center">Оборот</h2>
            <div class="card-body scroll-y">
                <canvas id="turnover" width="75" height="30"></canvas>
                <script type="text/javascript">
     var ctx = document.getElementById('turnover');
     var quoted_labels = [];
     {% for report in reports %}
     {% if report.lpu %}
     var quoted_label = he.decode("{{report.lpu}}");
     quoted_labels.push(quoted_label);
     {% else %}
     quoted_labels.push("Общие показатели продаж");
     {% endif %}
     {% endfor %}
     Chart.defaults.global.defaultFontColor = 'black';
     Chart.defaults.global.defaultFontSize = 16;
     var myLineChart = new Chart(ctx, {
               type: 'line',
               data: {
                   labels:[{% for period in reports.0.report %}"{{ period.start_date|date:'d.m.Y' }}{% if not by_day %}—{{ period.end_date|date:'d.m.Y' }}{% endif %}",{% endfor %}],
                   datasets: [
                   {% for report in reports %}
                   {% if report.color %}
                   {
                        label: quoted_labels[{{ forloop.counter0 }}],
                        fill: {% if report.color %}false{% else %}true{% endif %},
                        lineTension: 0.1,
                        backgroundColor: "{% if report.color %}{{report.color}}{% else %}rgba(214, 255, 204, 0.3){% endif %}",
                        borderColor: "{% if report.color %}{{report.color}}{% else %}rgb(214, 255, 204){% endif %}",
                        borderCapStyle: '{% if report.color %}square{% else %}butt{% endif %}',
                        borderJoinStyle: 'miter',
                          pointBorderColor: "black",
                          pointBackgroundColor: "white",
                          pointBorderWidth: 1,
                          pointHoverRadius: 8,
                          pointHoverBackgroundColor: "{% if report.color %}{{report.color}}{% else %}rgb(214, 255, 204){% endif %}",
                          pointHoverBorderColor: "black",
                          pointHoverBorderWidth: 2,
                          pointRadius: 4,
                          pointHitRadius: 10,
                        data: [{% for period in report.report %}{{ period.turnover}},{% endfor %}]
                             },{% endif %}{% endfor %}],
                        spanGaps: {% if report.color %}true{% else %}false{% endif %},
                      },
               options:{
                   scales: {
                       xAxes: [{
                           display:true
                              }],
                       yAxes: [{
                           ticks: {
                               beginAtZero:true
                                   },
                            scaleLabel: {
                             display: true,
                             labelString: 'Оборот',
                             fontSize: 20
                             }
                               }]
                            }
                        }
                      });

                </script>
            </div>
        </div>
        <div class="card shadow mb-3">
            <h2 class="card-title text-center">Количество заявок</h2>
            <div class="card-body scroll-y">
                <canvas id="requests" width="75" height="30"></canvas>
                <script type="text/javascript">
     var ctx = document.getElementById('requests');
     {% for report in reports %}
     {% if report.lpu %}
     var quoted_label = he.decode("{{report.lpu}}");
     quoted_labels.push(quoted_label);
     {% else %}
     quoted_labels.push("Общие показатели продаж");
     {% endif %}
     {% endfor %}
     Chart.defaults.global.defaultFontColor = 'black';
     Chart.defaults.global.defaultFontSize = 16;
     var myLineChart = new Chart(ctx, {
               type: 'line',
               data: {
                   labels:[{% for period in reports.0.report %}"{{ period.start_date|date:'d.m.Y' }}{% if not by_day %}—{{ period.end_date|date:'d.m.Y' }}{% endif %}",{% endfor %}],
                   datasets: [
                   {% for report in reports %}
                   {% if report.color %}
                   {
                        label: quoted_labels[{{ forloop.counter0 }}],
                        fill: {% if report.color %}false{% else %}true{% endif %},
                        lineTension: 0.1,
                        backgroundColor: "{% if report.color %}{{report.color}}{% else %}rgba(214, 255, 204, 0.3){% endif %}",
                        borderColor: "{% if report.color %}{{report.color}}{% else %}rgb(214, 255, 204){% endif %}",
                        borderCapStyle: '{% if report.color %}square{% else %}butt{% endif %}',
                        borderJoinStyle: 'miter',
                          pointBorderColor: "black",
                          pointBackgroundColor: "white",
                          pointBorderWidth: 1,
                          pointHoverRadius: 8,
                          pointHoverBackgroundColor: "{% if report.color %}{{report.color}}{% else %}rgb(214, 255, 204){% endif %}",
                          pointHoverBorderColor: "black",
                          pointHoverBorderWidth: 2,
                          pointRadius: 4,
                          pointHitRadius: 10,
                        data: [{% for period in report.report %}{{ period.requests}},{% endfor %}]
                             },{% endif %}{% endfor %}],
                        spanGaps: {% if report.color %}true{% else %}false{% endif %},
                      },
               options:{
                   scales: {
                       xAxes: [{
                           display:true
                              }],
                       yAxes: [{
                           ticks: {
                               beginAtZero:true
                                   },
                            scaleLabel: {
                             display: true,
                             labelString: 'Количество заявок',
                             fontSize: 20
                             }
                               }]
                            }
                        }
                      });

                </script>
            </div>
        </div>
        <div class="card shadow mb-3">
            <h2 class="card-title text-center">Средняя цена покупки</h2>
            <div class="card-body scroll-y">
                <canvas id="avg_price" width="75" height="30"></canvas>
                <script type="text/javascript">
     var ctx = document.getElementById('avg_price');
     {% for report in reports %}
     {% if report.lpu %}
     var quoted_label = he.decode("{{report.lpu}}");
     quoted_labels.push(quoted_label);
     {% else %}
     quoted_labels.push("Общие показатели продаж");
     {% endif %}
     {% endfor %}
     Chart.defaults.global.defaultFontColor = 'black';
     Chart.defaults.global.defaultFontSize = 16;
     var myLineChart = new Chart(ctx, {
               type: 'line',
               data: {
                   labels:[{% for period in reports.0.report %}"{{ period.start_date|date:'d.m.Y' }}{% if not by_day %}—{{ period.end_date|date:'d.m.Y' }}{% endif %}",{% endfor %}],
                   datasets: [
                   {% for report in reports %}
                   {
                        label: quoted_labels[{{ forloop.counter0 }}],
                        fill: {% if report.color %}false{% else %}true{% endif %},
                        lineTension: 0.1,
                        backgroundColor: "{% if report.color %}{{report.color}}{% else %}rgba(214, 255, 204, 0.3){% endif %}",
                        borderColor: "{% if report.color %}{{report.color}}{% else %}rgb(214, 255, 204){% endif %}",
                        borderCapStyle: '{% if report.color %}square{% else %}butt{% endif %}',
                        borderJoinStyle: 'miter',
                          pointBorderColor: "black",
                          pointBackgroundColor: "white",
                          pointBorderWidth: 1,
                          pointHoverRadius: 8,
                          pointHoverBackgroundColor: "{% if report.color %}{{report.color}}{% else %}rgb(214, 255, 204){% endif %}",
                          pointHoverBorderColor: "black",
                          pointHoverBorderWidth: 2,
                          pointRadius: 4,
                          pointHitRadius: 10,
                        data: [{% for period in report.report %}{{ period.avg_price}},{% endfor %}]
                             },{% endfor %}],
                        spanGaps: {% if report.color %}true{% else %}false{% endif %},
                      },
               options:{
                   scales: {
                       xAxes: [{
                           display:true
                              }],
                       yAxes: [{
                           ticks: {
                               beginAtZero:true
                                   },
                            scaleLabel: {
                             display: true,
                             labelString: 'Средняя цена покупки',
                             fontSize: 20
                             }
                               }]
                            }
                        }
                      });

                </script>
            </div>
        </div>
        <div class="card shadow mb-3">
            <h2 class="card-title text-center">Средний чек</h2>
            <div class="card-body scroll-y">
                <canvas id="avg_check" width="75" height="30"></canvas>
                <script type="text/javascript">
     var ctx = document.getElementById('avg_check');
     {% for report in reports %}
     {% if report.lpu %}
     var quoted_label = he.decode("{{report.lpu}}");
     quoted_labels.push(quoted_label);
     {% else %}
     quoted_labels.push("Общие показатели продаж");
     {% endif %}
     {% endfor %}
     Chart.defaults.global.defaultFontColor = 'black';
     Chart.defaults.global.defaultFontSize = 16;
     var myLineChart = new Chart(ctx, {
               type: 'line',
               data: {
                   labels:[{% for period in reports.0.report %}"{{ period.start_date|date:'d.m.Y' }}{% if not by_day %}—{{ period.end_date|date:'d.m.Y' }}{% endif %}",{% endfor %}],
                   datasets: [
                   {% for report in reports %}
                   {
                        label: quoted_labels[{{ forloop.counter0 }}],
                        fill: {% if report.color %}false{% else %}true{% endif %},
                        lineTension: 0.1,
                        backgroundColor: "{% if report.color %}{{report.color}}{% else %}rgba(214, 255, 204, 0.3){% endif %}",
                        borderColor: "{% if report.color %}{{report.color}}{% else %}rgb(214, 255, 204){% endif %}",
                        borderCapStyle: '{% if report.color %}square{% else %}butt{% endif %}',
                        borderJoinStyle: 'miter',
                          pointBorderColor: "black",
                          pointBackgroundColor: "white",
                          pointBorderWidth: 1,
                          pointHoverRadius: 8,
                          pointHoverBackgroundColor: "{% if report.color %}{{report.color}}{% else %}rgb(214, 255, 204){% endif %}",
                          pointHoverBorderColor: "black",
                          pointHoverBorderWidth: 2,
                          pointRadius: 4,
                          pointHitRadius: 10,
                        data: [{% for period in report.report %}{{ period.avg_check}},{% endfor %}]
                             },{% endfor %}],
                        spanGaps: {% if report.color %}true{% else %}false{% endif %},
                      },
               options:{
                   scales: {
                       xAxes: [{
                           display:true
                              }],
                       yAxes: [{
                           ticks: {
                               beginAtZero:true
                                   },
                            scaleLabel: {
                             display: true,
                             labelString: 'Средний чек',
                             fontSize: 20
                             }
                               }]
                            }
                        }
                      });

                </script>
            </div>
        </div>
        <div class="card shadow mb-3">
            <h2 class="card-title text-center">Глубина чека</h2>
            <div class="card-body scroll-y">
                <canvas id="check_deep" width="75" height="30"></canvas>
                <script type="text/javascript">
     var ctx = document.getElementById('check_deep');
     {% for report in reports %}
     {% if report.lpu %}
     var quoted_label = he.decode("{{report.lpu}}");
     quoted_labels.push(quoted_label);
     {% else %}
     quoted_labels.push("Общие показатели продаж");
     {% endif %}
     {% endfor %}
     Chart.defaults.global.defaultFontColor = 'black';
     Chart.defaults.global.defaultFontSize = 16;
     var myLineChart = new Chart(ctx, {
               type: 'line',
               data: {
                   labels:[{% for period in reports.0.report %}"{{ period.start_date|date:'d.m.Y' }}{% if not by_day %}—{{ period.end_date|date:'d.m.Y' }}{% endif %}",{% endfor %}],
                   datasets: [
                   {% for report in reports %}
                   {
                        label: quoted_labels[{{ forloop.counter0 }}],
                        fill: {% if report.color %}false{% else %}true{% endif %},
                        lineTension: 0.1,
                        backgroundColor: "{% if report.color %}{{report.color}}{% else %}rgba(214, 255, 204, 0.3){% endif %}",
                        borderColor: "{% if report.color %}{{report.color}}{% else %}rgb(214, 255, 204){% endif %}",
                        borderCapStyle: '{% if report.color %}square{% else %}butt{% endif %}',
                        borderJoinStyle: 'miter',
                          pointBorderColor: "black",
                          pointBackgroundColor: "white",
                          pointBorderWidth: 1,
                          pointHoverRadius: 8,
                          pointHoverBackgroundColor: "{% if report.color %}{{report.color}}{% else %}rgb(214, 255, 204){% endif %}",
                          pointHoverBorderColor: "black",
                          pointHoverBorderWidth: 2,
                          pointRadius: 4,
                          pointHitRadius: 10,
                        data: [{% for period in report.report %}{{ period.check_deep}},{% endfor %}]
                             },{% endfor %}],
                        spanGaps: {% if report.color %}true{% else %}false{% endif %},
                      },
               options:{
                   scales: {
                       xAxes: [{
                           display:true
                              }],
                       yAxes: [{
                           ticks: {
                               beginAtZero:true
                                   },
                            scaleLabel: {
                             display: true,
                             labelString: 'Глубина чека',
                             fontSize: 20
                             }
                               }]
                            }
                        }
                      });

                </script>
            </div>
        </div>
    </div>
</div>
{% endif %}


{% endblock main %}

{% block scripts %}
{% endblock scripts %}