<div class="uk-container-expand">
    <div class="uk-margin-medium-top">
        <ul class="uk-flex-center uk-subnav uk-subnav-pill uk-subnav-divider">
            {% if perms.bags.view_lpu and perms.finance.view_sale %}
            <li class="{% if '/finance/customers' in request.get_full_path %}uk-active{% endif %}">
                <a href="{% url 'Customers' %}">Заказчики</a>
            </li>
            {% endif %}
            {% if perms.bags.view_lpu and perms.finance.view_sale %}
            <li class="{% if '/finance/sales_report' in request.get_full_path %}uk-active{% endif %}">
                <a href="{% url 'Sales report' %}">Отчет по продажам</a>
            </li>
            {% endif %}
            {% if perms.finance.price_convert %}
            <li class="{% if '/finance/price_converter' in request.get_full_path %}uk-active{% endif %}">
                <a href="{% url 'price_converter' %}">Конвертация прайс-листа для ЛИС</a>
            </li>
            <li class="{% if '/finance/external_price_converter' in request.get_full_path %}uk-active{% endif %}">
                <a href="{% url 'ext_price_converter' %}">Конвертация прайс-листа сторонней лаборатории</a>
            </li>
            {% endif %}
            {% if perms.finance.cmd_bill_compare %}
            <li class="{% if '/finance/cmd_bill_compare' in request.get_full_path %}uk-active{% endif %}">
                <a href="{% url 'bill_compare' %}">Сверка счета из CMD</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>