body, .uk-section-default, .uk-navbar-nav>li.uk-active>a {
    background-color: #DBFFDE;
}

.uk-navbar-container:not(.uk-navbar-transparent), .uk-navbar-dropdown {
    background-color: #89C4B5;
    color: #000000;
}

.uk-subnav-pill>.uk-active>a {
    background-color: #E75E3C;
    color: #000000;
}

.uk-navbar-nav>li>a, .uk-navbar-dropdown-nav>li>a, .uk-subnav-pill>*>:first-child {
    color: #454545;
}

.uk-navbar-nav>li:hover>a, .uk-navbar-nav>li>a.uk-open, .uk-navbar-nav>li>a:focus {
    color: #000000;
}

.button-primary {
    background: #E75E3C ;
    color: #000000;
}

.button-secondary {
    background: #B46D55 ;
    color: white;
}

.button-nav {
    background: #89C4B5;
    color: white;
}

.button-bright {
    background: #988372;
    color: white;
}

.uk-background-primary {
    background-color: #988372;
}