<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial_scale=1.0" ]>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
        {% endblock title%}
        Лабораторный портал
    </title>

    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/tail.select-default.css' %}">

    <link rel="stylesheet" href="{% static 'css/the-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'css/portal.css' %}">


</head>
<body>
<main>
    {% if user.is_authenticated %}
    {% include "mainapp/navbar.html" %}
    {% endif %}
    <div uk-height-viewport class="uk-section-default">

        {% block tabs %}
        {% endblock tabs %}

        {% if filterset.form %}
        {% include 'mainapp/filter.html' %}
        {% endif %}
        <div class="uk-container uk-container-large">
            {% block main %}
            {% endblock main %}

            {% if is_paginated %}
            {% include "mainapp/paginator.html" %}
            {% endif %}
        </div>
    </div>
</main>

</body>

<script src="{% static 'js/uikit.min.js' %}"></script>
<script src="{% static 'js/uikit-icons.min.js' %}"></script>
<script src="{% static 'js/tail.select.min.js' %}"></script>
<script src="{% static 'js/tail.select-ru.js' %}"></script>
<script src="{% static 'js/the-datepicker.min.js' %}"></script>
<script src="{% static 'js/miscellaneous.js' %}"></script>

{% block scripts%}
{% endblock scripts %}

{% if messages %}
<script>
const frontMessages = {}
    {% for message in messages %}

    let messageLevel;
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    messageLevel = 'success'
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    messageLevel = 'danger'
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
    messageLevel = ''
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
    messageLevel = 'warning'
    {% endif %}
    frontMessages['{{ message|escapejs }}'] = messageLevel
    {% endfor %}

document.addEventListener('DOMContentLoaded', messageIterator(frontMessages));



</script>
{% endif %}

</html>
