<div class="uk-container-expand">
    <div class="uk-flex uk-flex-center">
        <form method="get" class="uk-grid-small uk-flex-middle uk-grid" uk-grid>
            {% for field in filterset.form %}
                {% if field.field.widget.input_type == 'checkbox' %}
                <div class="uk-margin-top uk-margin-bottom">
                    <label>{{ field }} {{ field.label }}</label>
                </div>
                {% elif field.field.widget.input_type == 'select' %}
                <div class="uk-margin-top uk-margin-bottom">
                    <label class="uk-form-label" for="id_{{ field.name }}">{{ field.label }}</label>
                    <div class="uk-form-controls">
                        {{ field }}
                    </div>
                </div>
                {% else %}
                <div class="uk-margin-top uk-margin-bottom">
                    <label class="uk-form-label" for="id_{{ field.name }}">{{ field.label }}</label>
                    <div class="uk-form-controls">
                    {{ field }}
                    </div>
                    {% for error in field.errors %}
                    <span class="helper-text red-text">{{ error|escape }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
            <div class="uk-margin-top">
            <button class="uk-icon-button uk-icon button-primary" type="submit" uk-icon="icon: search">
            </button>
            </div>

        </form>
    </div>
</div>