{% extends "mainapp/base.html" %}

{% block title %}
{% endblock title%}



{% block tabs %}
{% endblock tabs %}

{% block main %}
<div class="uk-container uk-container-xsmall uk-margin-medium-top">
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <fieldset class="uk-fieldset">
            <legend class="uk-legend">{% block form_title %}{% endblock form_title %}</legend>
        {% for field in form.visible_fields %}
            {% if field.field.widget.input_type == 'checkbox' %}
            <div class="uk-margin">
                <label>{{ field }} {{ field.label }}</label>
            </div>
            {% elif field.field.widget.input_type == 'file' %}
            <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                    <label class="uk-form-label" for="id_{{ field.name }}">{{ field.label }}</label>
                    {{ field }}
                    <input class="uk-input uk-form-width-medium" type="text" placeholder="Выберите файл" disabled>
                </div>
                {% for error in field.errors %}
                <span class="input-error">{{ error|escape }}</span>
                {% endfor %}
            </div>
            {% elif field.field.widget.input_type == 'select' %}
            <div class="uk-margin">
                <label class="uk-form-label" for="id_{{ field.name }}">{{ field.label }}</label>
                <div class="uk-form-controls">
                    {{ field }}
                </div>
            </div>
            {% else %}
            <div class="uk-margin">
                <label class="uk-form-label" for="id_{{ field.name }}">{{ field.label }}</label>
                <div class="uk-form-controls">
                {{ field }}
                </div>
                {% for error in field.errors %}
                <span class="input-error">{{ error|escape }}</span>
                {% endfor %}
            </div>
            {% endif %}
        {% endfor %}
        {% for field in photo_form.hidden_fields %}
        {{ field }}
        {% endfor %}
        </fieldset>
        <p uk-margin class="uk-align-right">
        <button class="uk-button uk-button-primary" type="submit">
            {% block button_name %}{% endblock button_name %}
        </button>
            {% block cancel_button %}
        <button class="uk-button uk-button-secondary" type="reset">Сбросить</button>
            {% endblock cancel_button %}
        </p>
    </form>
</div>
{% endblock main %}