{% extends 'mainapp/base.html' %}


{% block main %}
<div class="container">
    <div class="uk-grid-large uk-flex-middle uk-grid" uk-grid>
        <div class="uk-width-expand uk-first-column">
            <h1 class="uk-heading-small uk-heading-divider">Полезные ресурсы</h1>
        </div>
        <div class="uk-width-auto">
            <ul class="uk-iconnav">
            {% if perms.mainapp.add_hslink %}
                <li><a href="{% url 'home_element_create' %}" uk-icon="icon: plus" title="Добавить"></a></li>
            {% endif %}
            {% if perms.mainapp.view_hslink %}
                <li><a href="{% url 'home_elements' %}" uk-icon="icon: list" title="Список"></a></li>
            {% endif %}
            </ul>
        </div>
    </div>
</div>
<div class="uk-grid-large uk-child-width-expand@s uk-text-center uk-grid uk-margin-medium-top" uk-grid>
    {% for home_element in object_list %}
    <div class="uk-width-1-3">
        <div class="uk-card uk-card-default ">
            <div class="uk-card-media-top">
                <a target="_blank" href="{{ home_element.link }}">
                    <img src="{{ home_element.logo.url }}" alt="Resource logo">
                </a>
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">{{home_element.name}}</h3>
                <p>{{home_element.description}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock main %}