{% extends "mainapp/base.html" %}

{% block title %}
Список ресурсов на главной |
{% endblock title%}

{% block header %}
Список ресурсов на главной
{% endblock header %}

{% block main %}
<table class="uk-table uk-table-divider uk-margin-medium-top">
    <thead class="uk-background-secondary">
    <tr>
        <th class="uk-table-medium">Название</th>
        <th class="uk-table-medium">Лого</th>
        <th class="uk-table-shrink">Ссылка</th>
        <th class="uk-table-shrink">Активный</th>
        <th class="uk-table-shrink">Вес ссылки</th>
        {% if perms.mainapp.change_hslink %}
        <th class="col"></th>
        {% endif %}
        {% if perms.mainapp.delete_hslink %}
        <th class="col"></th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for home_element in object_list %}
    <tr id="row_{{forloop.counter}}">
        <td>{{home_element.name}}</td>
        <td class="uk-preserve-width">
            <img src="{{ home_element.logo.url }}">
        </td>
        <td>
            <a target="_blank" href="{{ home_element.link }}">{{home_element.link}}</a>
        </td>
        {% if home_element.is_active %}
        <td>Да</td>
        {% else %}
        <td>Нет</td>
        {% endif %}
        <td>{{home_element.weight}}</td>
        {% if perms.mainapp.change_hslink %}
        <td>
            <a class="btn btn-info btn-sm" href="{{home_element.get_absolute_url}}edit/">Редактировать</a>
        </td>
        {% endif %}
        {% if perms.mainapp.delete_hslink %}
        <td>
            <a class="uk-icon-button uk-icon" uk-icon="icon: trash" href="#modal_{{forloop.counter}}"
               uk-toggle></a>
        </td>
        {% endif %}
    </tr>
    {% empty %}
    <tr>
        <td colspan="">Нет элементов</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% if perms.mainapp.delete_hslink %}
{% for home_element in object_list %}
<div id="modal_{{forloop.counter}}" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Удаление</h2>
        <p>Вы уверены, что хотите удалить <b>{{home_element.name}}?</b></p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Отмена</button>
            <a href="{{ home_element.get_delete_url }}" class="uk-button uk-button-danger delete-button"
               type="button">Удалить</a>
        </p>
    </div>
</div>
{% endfor %}
{% endif %}
{% csrf_token %}
{% endblock main %}
