<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">
    <a class="uk-navbar-item uk-logo" href="/">Лабораторный портал</a>
        <ul class="uk-navbar-nav">
            {% if perms.analyzes.view_analysis %}
            <li class="{% if 'catalog/' in request.path %} uk-active {% endif %}">
                <a href="{% url 'Analyzes list' %}">Каталог анализов</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        {% if perms.analyzes.view_analyzer %}
                        <li class="{% if 'analyzers/' in request.path %} uk-active {% endif %}">
                            <a href="{% url 'Analyzers list' %}">Анализаторы</a>
                        </li>
                        {% endif %}
                        {% if perms.analyzes.view_biomaterial %}
                        <li class="{% if 'biomaterials/' in request.path %} uk-active {% endif %}">
                            <a href="{% url 'Biomaterials list' %}">Биоматериалы</a>
                        </li>
                        {% endif %}
                        {% if perms.analyzes.view_container %}
                        <li class="{% if 'containers/' in request.path %} uk-active {% endif %}">
                            <a href="{% url 'Container list' %}">Контейнеры</a>
                        </li>
                        {% endif %}
                        {% if perms.analyzes.view_blank %}
                        <li class="{% if 'blanks/' in request.path and not 'add/' in request.path %} uk-active {% endif %}">
                            <a href="{% url 'Blanks list' %}">Бланки</a>
                        </li>
                        {% endif %}
                        {% if perms.analyzes.add_blank %}
                        <li class="{% if 'blanks/add/' in request.path %} uk-active {% endif %}">
                            <a href="{% url 'Create blank' %}">Добавить бланк</a>
                        </li>
                        {% endif %}
                        {% if perms.analyzes.view_analysismapping %}
                        <li class="{% if '/catalog/mapping/' in request.path and not 'upload/' in request.path %} uk-active {% endif %}">
                            <a href="{% url 'Mapping_list' %}">Сопоставление каталогов</a>
                        </li>
                        {% endif %}
                        {% if perms.analyzes.change_analysismapping %}
                        <li class="{% if 'mapping/upload/' in request.path %} uk-active {% endif %}">
                            <a href="{% url 'Upload_mapping' %}">Загрузить сопоставление</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </li>
            {% endif %}
            {% if perms.bags.view_lpu or perms.bags.view_scannedbag or perms.bags.view_baglpu or perms.bags.view_scannedbag or perms.bags.view_permissionreport %}
            <li class="{% if 'bags/' in request.path %} uk-active {% endif %}">
                <a href="{% url 'scanbag_list' %}">
                    Учет термоконтейнеров
                </a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        {% if perms.bags.add_scannedbag %}
                        <li class="{% if 'bag_reg/add/' in request.path %} uk-active {% endif %}">
                            <a href="{% url 'scan_bag' %}">Сканировать контейнеры</a>
                        </li>
                            {% endif %}
                        {% if perms.bags.add_baglpu %}
                        <li class="{% if 'bag_lpu/add/' in request.path %} uk-active {% endif %}">
                            <a href="{% url 'add_baglpu' %}">Выдать контейнер ЛПУ</a>
                        </li>
                        {% endif %}
                        {% if perms.bags.view_baglpu %}
                        <li class="{% if 'bag_lpu/' in request.path %} uk-active {% endif %}">
                            <a href="{% url 'bag_lpu_list' %}">Контейнеры</a>
                        </li>
                        {% endif %}
                        {% if perms.bags.view_lpu %}
                        <li class="{% if '/bags/lpu/' in request.path %} uk-active {% endif %}">
                            <a href="{% url 'lpu_bags_list' %}">ЛПУ</a>
                        </li>
                        {% endif %}
                        {% if perms.bags.view_permissionreport %}
                        <li class="{% if 'bags/report/' in request.path %} uk-active {% endif %}">
                            <a href="{% url 'bags_report' %}">Отчет</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </li>
            {% endif %}
            {% if perms.finance.price_convert or perms.finance.cmd_bill_compare or perms.finance.view_sale%}
            <li class="{% if 'finance/' in request.path %} uk-active {% endif %}">
                <a  href="#">
                    Финансы
                </a>
                <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                    <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            {% if perms.bags.view_lpu and perms.finance.price_convert or perms.finance.view_sale%}
                            <li class="{% if 'customers/' in request.path %} uk-active {% endif %}">
                                <a href="{% url 'Customers' %}">Заказчики</a>
                            </li>
                            {% endif %}
                            {% if perms.bags.view_lpu and perms.finance.view_sale %}
                            <li class="{% if 'sales_report/' in request.path %} uk-active {% endif %}">
                                <a href="{% url 'Sales report' %}">Отчет по продажам</a>
                            </li>
                            {% endif %}
                            {% if perms.finance.price_convert %}
                            <li class="{% if 'price_converter/' in request.path %} uk-active {% endif %}">
                                <a href="{% url 'price_converter' %}">Конвертация прайс-листа для ЛИС</a>
                            </li>
                            <li class="{% if 'external_price_converter/' in request.path %} uk-active {% endif %}">
                                <a href="{% url 'ext_price_converter' %}">Конвертация прайс-листа сторонней лаборатории</a>
                            </li>
                            {% endif %}
                            {% if perms.finance.cmd_bill_compare %}
                            <li class="{% if 'cmd_bill_compare/' in request.path %} uk-active {% endif %}">
                                <a href="{% url 'bill_compare' %}">Сверка счета из CMD</a>
                            </li>
                        {% endif %}
                        </ul>
                </div>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li>
                <a href="#">{{user.first_name}} {{ user.last_name }}</a>
            </li>
            <li>
                <a title="Выйти" uk-icon="push" href="/account/logout/"></a>
            </li>
        </ul>
    </div>
</nav>