{% load tags_replacer %}
{% load mathfilters %}
<div class="container">
    <ul class="uk-pagination uk-flex-center" uk-margin>
        <li class="{% if not page_obj.has_previous %}uk-disabled{% endif %}"><a href="{% if page_obj.has_previous %}?{% param_replace page=page_obj.previous_page_number %}{% endif %}"><span uk-pagination-previous></span></a></li>
        {% if page_obj.number >= 5 %}
        <li><a href="?{% param_replace page=1 %}">1</a></li>
        <li class="uk-disabled"><a>...</a></li>
        {% endif %}
        {% if page_obj.number|sub:3 > 0 %}
        <li><a href="?{% param_replace page=page_obj.number|sub:3 %}">{{ page_obj.number|sub:3 }}</a></li>
        {% endif %}
        {% if page_obj.number|sub:2 > 0 %}
        <li><a href="?{% param_replace page=page_obj.number|sub:2 %}">{{ page_obj.number|sub:2 }}</a></li>
        {% endif %}
        {% if page_obj.number|sub:1 > 0 %}
        <li><a href="?{% param_replace page=page_obj.number|sub:1 %}">{{ page_obj.number|sub:1 }}</a></li>
        {% endif %}
        <li class="uk-active"><span>{{ page_obj.number }}</span></li>
        {% if page_obj.number <= paginator.num_pages|sub:1 %}
        <li><a href="?{% param_replace page=page_obj.number|add:1 %}">{{ page_obj.number | add:"1" }}</a></li>
        {% endif %}
        {% if page_obj.number <= paginator.num_pages|sub:2 %}
        <li><a href="?{% param_replace page=page_obj.number|add:2 %}">{{ page_obj.number | add:"2" }}</a></li>
        {% endif %}
        {% if page_obj.number <= paginator.num_pages|sub:3 %}
        <li><a href="?{% param_replace page=page_obj.number|add:3 %}">{{ page_obj.number | add:"3" }}</a></li>
        {% endif %}
        {% if page_obj.number <= paginator.num_pages|sub:5 %}
        <li class="uk-disabled"><a>...</a></li>
        <li><a href="?{% param_replace page=paginator.num_pages %}">{{ paginator.num_pages }}</a></li>
        {% endif %}
        <li class="{% if not page_obj.has_next %}uk-disabled{% endif %}"><a href="{% if page_obj.has_next %}?{% param_replace page=page_obj.next_page_number %}{% endif %}"><span uk-pagination-next></span></a></li>
    </ul>
</div>