{% extends "mainapp/base.html" %}

{% block title %}
Вход в систему |
{% endblock title%}

{% block css %}

{% endblock css %}

{% block header %}

{% endblock header %}


{% block main %}

    <div class="uk-container">
        <div class="uk-section">
            <div class="uk-container uk-container-xsmall">
{% if user.is_authenticated %}
<p>Вы зашли в систему как {{ user.username }}</p>
{% else %}
<h2>Вход в систему</h2>
{% if next %}
            <form class="form" method="post" action="{% url 'login' %}?next={{next}}">
    {% else %}
                <form class="form" method="post" action="{% url 'login' %}">
    {% endif %}
    {% csrf_token %}
                    <fieldset class="uk-fieldset">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="username">Логин</label>
                        <div class="uk-form-controls">
                            <div class="uk-inline">
                                <span class="uk-form-icon uk-icon" uk-icon="icon: user"></span>
                            <input type="text" class="uk-input" name="username" id="username" required="true" placeholder="a.ivanov">
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="password">Пароль</label>
                        <div class="uk-form-controls">
                            <div class="uk-inline">
                                <span class="uk-form-icon uk-icon" uk-icon="icon: lock"></span>
                            <input type="password" class="uk-input" required="true" name="password" id="password">
                            </div>
                        </div>
    </div>

                    <button type="submit" class="uk-button uk-button-primary uk-align-left">Войти</button>
                    </fieldset>
</form>

{% endif %}
                {% if form.errors %}
                <p class="uk-text-danger">Введите корректные логин и пароль.</p>
                {% endif %}
            </form>
            </div>
        </div>
    </div>
{% endblock main %}